<div class="starter-page-container">
    <!-- Pantalla inicial de bienvenida -->
    <div class="initial-page" *ngIf="!showForm && !isCompleted" @slideIn>
        <h1>Aquí comienza tu viaje...</h1>
        <button mat-raised-button class="init-button" (click)="startRegister()">
            Empezar
        </button>
    </div>

    <!-- Formulario de registro -->
    <div *ngIf="showForm && !isCompleted" @slideIn>
        <app-init-form (formCompleted)="onFormCompleted($event)"></app-init-form>
    </div>

    <!-- Pantalla de completado -->
    <div *ngIf="isCompleted" class="form-complete-screen" @slideIn>
        <mat-icon class="success-icon">check_circle</mat-icon>
        <h2>¡Todo listo!</h2>
        <p>Grandes momentos te esperan aquí...</p>
        <button mat-raised-button class="start-button">
            Crear mi álbum
        </button>
    </div>
</div>